h2 {
    font-size: 9rem;
    line-height: 9rem;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 6rem;
    font-family: 'Archivo Black', sans-serif;

    @media(min-width: 1200px) and (max-width: 1400px) {
        font-size: 7rem;
        line-height: 7rem;
    }

    @media(min-width: 992px) and (max-width: 1200px) {
        font-size: 5.5rem;
        line-height: 5.5rem;
    }

    @media(max-width: 769px) {
        font-size: 4.5rem;
        line-height: 4.5rem;
        margin-bottom: 0 !important;
    }

    span {
        -webkit-text-stroke: 3px #000;
        -webkit-text-fill-color: transparent;
    }
}

p {
    font-size: 3.3rem;
    line-height: 3.9rem;
    color: #000;
    margin-bottom: 3rem;

    @media(min-width: 1200px) and (max-width: 1400px) {
        font-size: 2.4rem;
        line-height: 3.3rem;
    }

    @media(min-width: 992px) and (max-width: 1200px) {
        font-size: 2.2rem;
        line-height: 2.7rem;
    }

    @media(max-width: 769px) {
        font-size: 2rem !important;
        line-height: 2.5rem !important;
        margin-bottom: 1.5rem;
    }
}